{% set route = app.request.get('_route') %}
{% extends "@Front/front-base.html.twig" %}

{% block pagestyle %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2>Prenez RDV</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col l12 m12 s12 center-align">
              <div class="card">
                 <div class="card-content white-text">
                   <div id='calendar'></div>
                 </div>
              </div>
            </div>
            <!-- Modal Structure -->
            <div id="addEvents" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4>Ajouter une séance</h4>
                <div id="choiceTitle" class="row">
                  Intitulé prestation : <input id="titleEvent" type="text" name="title" value="" placeholder="Coiffeur Homme ..">
                  <div class="col s6 m6 l6">
                    <i class="material-icons medium">schedule</i>
                    <strong><div id="dateSelected"></div></strong>
                  </div>
                  <div class="col s6 m6 l6">
                    <i class="material-icons medium">schedule</i>
                    <strong><div id="dateSelectedEnd"></div></strong>
                  </div>
                 </div>
              </div>
                <div class="modal-footer">
                  <a href="#!" id="btnClose" class="modal-close waves-effect waves-red btn-flat">Annuler</a>
                  <a href="#!" id='btnAddEvent' class="modal-close waves-effect waves-green btn-flat">Accepter</a>
                </div>
            </div>

            <div id="showEvents" class="modal modal-fixed-footer">
              <div class="modal-content row">
                <h4>La séance du </h4>
                <div class="col s12 l12 m12">
                  <div class="s6 l6 m6">
                    <i class="material-icons medium">schedule</i>
                    <strong>débu:<div id="dateSelected"></div></strong>
                  </div>

                  <div class="col s6 l6 m6">
                    <i class="material-icons medium">schedule</i>
                    <strong>fin:<div id="dateSelectedEnd"></div></strong>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#!" id="btnClose" class="modal-close waves-effect waves-red btn-flat">Annuler</a>
                <a href="#!" id='btnAddEvent' class="modal-close waves-effect waves-green btn-flat">Accepter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/fr.js'></script>

<script type="text/javascript">

function displayCalendar() {
  $.get(Routing.generate("api_apifullcalendar_getappointement"))
    .done(function(appointments) {
      showCalendars(appointments);
    });
}

function showCalendars(appointments) {
    var initialLocaleCode = 'fr';
    // console.log(appointments);

    $('#calendar').fullCalendar({
      // themeSystem: 'bootstrap3',
      defaultView: 'agendaWeek',
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'agendaDay,month,agendaWeek'
      },
      businessHours: {
        // days of week. an array of zero-based day of week integers (0=Sunday)
        dow: [ 1, 2, 3, 4, 5, 6 ], // Monday - Thursday
        start: '9:00', // a start time (10am in this example)
        end: '20:00', // an end time (6pm in this example)
      },
      slotLabelFormat: [
        'MMMM YYYY', // top level of text
        'ddd'        // lower level of text
      ],
      slotDuration:"00:30:00",
      // displayEventTime: true,
      locale: initialLocaleCode,
      nowIndicator:true,
      maxTime:"21:00",
      minTime:"9:00",
      unselectAuto:true,
      allDaySlot: false,
      timeFormat:'H:mm',
      slotLabelFormat:"HH:mm",
      axisFormat: 'H:mm',
      selectable: true,
      eventLimit: true, // allow "more" link when too many events
      // editable: true,
      selectHelper: true,
      events: '/api/appointments',
      eventSources: [
      // your event source
        {
          url: '/api/appointments',
          type: 'GET',
          color: "#65a9d7",
          textColor: "#3c3d3d",
          success: function(data) {
            // console.log('donnée=>',data.title);
            for (var key in data) {
                data[key];
                console.log(data[key]);
            $('#calendar').fullCalendar('renderEvent', {
                title:data[key].title,
                start:data[key].start_appointement,
                end:data[key].end_appointement
              }, true);
          }
        // $('#calendar').fullCalendar( 'refetchEvents');
        },
          error: function() {
            displayToast( 'Un probléme est survenue au moment de la récupération des événements', 'error');
          },
          color: 'yellow',   // a non-ajax option
          textColor: 'black' // a non-ajax option
        }
      ],
      eventClick: function(calevent, jsEvent, view) {
          // console.log('entre');
          // var spinner = createSpinner();
          calevent.start.locale('fr');
          start = calevent.start.format('dddd Do MMMM YYYY à h:mm');
          end = calevent.end.format('h:mm');

          var styles = {
             color : "#E93C0F",
             fontWeight: "500"
           };
          var title =$('#titleEvent').val(calevent.title);
          var dateRange = $('#startEndDate').val(start +' - '+ end);
          dateRange.css(styles);
          title.css(styles);
          $('#showEvents').modal('open');
          $('#calendar').fullCalendar('unselect');
      },
      unselect: function(jsEvent, view) {
      },
      select: function(startEvent, endEvent, jsEvent, view) {
        start = startEvent.format('hh:mm');
        end = endEvent.format('hh:mm');
        $('#dateSelected').html(start);
        $('#dateSelectedEnd').html(end);
        console.log(end);

        $('#addEvents').modal('open');
        $('#btnAddEvent').on('click', function(e) {
          e.preventDefault();
          var title = $('#titleEvent').val();
          // start = $.fullCalendar.startEvent.moment(startEvent);
          start = startEvent.format('hh:mm:ss');
          end = endEvent.format('hh:mm:ss');

          $('#calendar').fullCalendar('unselect');
          if (title) {
            $.ajax(Routing.generate('api_apifullcalendar_postappointement'),
            {
              data:{
                title: title,
                start: start,
                end: end
              },
              type:"POST",
            }).done(function(response) {
              // $('#calendar').fullCalendar('unselect');
              displayToast(response, 'success');
              // $('#calendar').fullCalendar('refetchEvents');
            }).fail(function (response) {
                // $('#calendar').fullCalendar('refetchEvents');
              displayToast( 'Probléme avec le serveur veuillez rééssayer', 'error');
            });
          }else {
            displayToast("Le champ intitulé de la prestation est vide", 'notice');
          }
        });
          $('#titleEvent').val('');
          $('#startEndDate').val('');
          // $('#dateSelected').html('');
          jQuery(document).on('keyup',function(evt) {
              if (evt.keyCode == 27) {
                $('#titleEvent').val('');
                $('#startEndDate').val('');
                $('#dateSelected').html('');
                $('#calendar').fullCalendar('unselect');
                $('#calendar').fullCalendar('refetchEvents');
              }
          });
      },
    });
  };

    $('#btnClose').on('click', function(e) {
        e.preventDefault();
        $('#titleEvent').val('');
        $('#startEndDate').html('');
        $('#calendar').fullCalendar('unselect');
    });

  $(document).ready(function() {
    // var spinner = createSpinner();
    // $('.container').empty().append(spinner);
    $('#addEvents').modal();
    $('#showEvents').modal();
    displayCalendar();

  });
</script>
{% endblock %}
