<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    {% if app.user.hasRole('ROLE_ADMIN') %}
    Hello Admin {{ app.user.username }}, tu es bien connecté en tant que Admin !
    {% endif %}
  </body>
</html>
