{% set route = app.request.get('_route') %}
{% extends "@Front/front-base.html.twig" %}

{% block pagestyle %}

<link rel="stylesheet" href="{{ asset('assets/css/front/prestation.css') }}"/>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2>Vos prestations</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <!-- <span class="card-title align-center">Card Title</span> -->
                    <div class="card-content center-align">
                    {% if serviceLists is defined %}
                      <table class="highlight responsive-table">
                         <thead>
                           <tr>
                               <th>HairCut</th>
                               <th>Date</th>
                               <th>price</th>
                           </tr>
                         </thead>

                         <tbody>
                          {% for serviceList in serviceLists %}
                            <tr>
                              <td>{{ serviceList.haircut }}</td>
                               <td>{{ serviceList.dateHaircut|date("d/m/Y") }}</td>
                               <td>{{ serviceList.price }}</td>
                             </tr>
                           {% endfor %}
                         </tbody>
                       </table>
                    {% else %}
                        <h4>Aucune prestation..</h4>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}

{% endblock %}
