{% set route = app.request.get('_route') %}
{% extends "@Front/front-base.html.twig" %}

{% block pagestyle %}

<link rel="stylesheet" href="{{ asset('assets/css/front/prestation.css') }}"/>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2>Vos prestations</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <!-- <span class="card-title align-center">Card Title</span> -->
                    <div class="card-content center-align">

                      <table class="highlight responsive-table">
                         <thead>
                           <tr>
                               <th>HairCut</th>
                               <th>Date</th>
                               <th>price</th>
                           </tr>
                         </thead>

                         <tbody>
                           <tr>
                             <td>Alvin</td>
                             <td>Eclair</td>
                             <td>$0.87</td>
                           </tr>
                           <tr>
                             <td>Alan</td>
                             <td>Jellybean</td>
                             <td>$3.76</td>
                           </tr>
                           <tr>
                             <td>Jonathan</td>
                             <td>Lollipop</td>
                             <td>$7.00</td>
                           </tr>
                         </tbody>
                       </table>

                      <h4>Aucune prestation..</h4>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}

{% endblock %}
