{% extends "@Front/front-base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2>Bonjour {{ app.user.username }}</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col offset-m1 m10 s12 center-align">

                <a title="Gestion des propriétés" class="btn-floating hoverable white huge-floating-button btn-with-text"
                   href="">
                   <i class="material-icons">mode_edit</i>
                  <span>Prestation</span>
                </a>

                <a title="Gestion des comptes employés"
                   class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="">
                  <i class="material-icons">perm_contact_calendar</i>
                  <span>Agenda</span>
                </a>


                <a title="Messagerie" class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="">
                  <i class="material-icons">message</i>
                  <span>Messagerie</span>
                </a>


                <a title="Gestion des publications" class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="">
                  <i class="material-icons">person</i>
                  <span>Compte</span>
                </a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}

{% endblock %}
