<!DOCTYPE html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Barber - Pour prendre soin de votre chevelure {% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- <link rel="stylesheet" href=""> -->
    {% block style %} {% endblock %}
  </head>
  <body>
    {% include 'AppBundle::menu.html.twig'%}
    {% block body %} {% endblock %}

    {% block bundlejs %} {% endblock %}
  </body>
</html>
