{% extends 'bundle::base.html.twig' %}

{% block title %}Kabolt Support{% endblock %}

    <body>
        {% include 'menus.html.twig' %}
        {% block bundlestyles %}{% endblock %}
        {% block body %}{% endblock %}
        {% block bundlejs %}{% endblock %}

        {% block javascripts %}
          <script type="text/javascript">
            $(document).ready(function(){
              $('.sidenav').sidenav();
            })
          </script>
        {% endblock %}
    </body>
</html>
