{% set route = app.request.get('_route') %}
{% extends "@Back/back-base.html.twig" %}

{% block pagestyle %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2>Gestion des Rendez-vous</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col offset-m1 l12 m12 s12 center-align">
              <div class="card">
                 <div class="card-content white-text">
                   <div id='calendar'></div>
                 </div>
              </div>

              <div class="col offset-m1 l12 m12 s12 center-align">
                <div class="card">
                   <div class="card-content white-text">
                     <div id='calendar'></div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}

<script type="text/javascript">

  $( document ).ready(function() {

  });
</script>
{% endblock %}
