{% extends "@Front/front-base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2>Bonjour {{ app.user.username }}</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
            <div class="col  m12 s12 center-align">
                <a title="Gestion des prestations" class="btn-floating hoverable white huge-floating-button btn-with-text"
                   href="">
                   <i class="material-icons">mode_edit</i>
                  <span>Prestation</span>
                </a>
                <a title="Gestion des rendez-vous"
                   class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="">
                  <i class="material-icons">today</i>
                  <span>Prendre rendez-vous</span>
                </a>
                <a title="Messagerie" class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="">
                  <i class="material-icons">message</i>
                  <span>Messagerie</span>
                </a>
                <a title="Gestion compte" class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="{{ path('front_profile') }}">
                  <i class="material-icons">person</i>
                  <span>Compte</span>
                </a>
                <a title="Déconnexion" class="btn-floating white hoverable huge-floating-button btn-with-text"
                   href="{{ path('fos_user_security_logout') }}">
                  <i class="material-icons">lock_open</i>
                  <span>Déconnexion</span>
                </a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}

{% endblock %}
