{% extends "@Back/back-base.html.twig" %}

{% block  content  %}
<div class="container">
    <div class="section">

      <div class="row page-title">
        <h2>Centre de notification</h2>
        <hr class='white' style="margin-bottom:1rem"/>
      </div>
      <div class="row">
        <div class=" col offset-m1 m10 s12 center-align">


        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block pagejs %}
  <script type="text/javascript">
  </script>
{% endblock %}
