{% extends "base.html.twig" %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('assets/css/front/front.css') }}"/>
        {% block pagestyle %}{% endblock %}
{% endblock %}


{% block bundlejs %}
  {% block scripts %}{% endblock %}
  <script src="{{ asset('bundles/front/js/front.js') }}"></script>
{% endblock %}

{% block body %}

<main class="row">
  {#********** Menu ***********#}
  {% include "menus.html.twig" %}
  <div class="col offset-l1 l10 m11 s12">
    {% block content %}{% endblock %}
  </div>
</main>

{% endblock %}

{% block javascripts %}

  <script type="text/javascript">



  </script>

{% block pagejs %}{% endblock %}
{% endblock %}
