<style media="screen">

</style>

{% block subject {{user.username}} %}

{% block body_html %}

{% endblock %}

{% block body_text %}
{% if targetUrl %}
  <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
{% endif %}
{% endblock %}
